<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">


	<appender name="debug" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="../../var/log/notificador-diffs/notificador-diffs.debug.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE} %5p %c{1}: - %m%n" />
		</layout>
	</appender>

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE} %5p %c{1}: - %m%n" />
		</layout>
	</appender>


<!-- 
	<category name="com.paygroup" additivity="true">
		<priority value="TRACE" />
		<appender-ref ref="debug" /> 
		<appender-ref ref="console" />
	</category>
	 -->

	<root>
		<priority value="TRACE" />
		<appender-ref ref="console" />  
		<appender-ref ref="debug" />
	</root>
 

</log4j:configuration>
